<div>
    <div class="row justify-content-center">
        <h2>CONTRIBUIE SI TU</h2>
    </div>
    <div class="row justify-content-center">
        <div class="progress-amount-raised"></div>
    </div>
    <div class="row justify-content-center">
        <div class="progress"></div>
    </div>
    <div class="row mt-3 donate-window-inputs-container">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">RON</span>
                </div>
                <input id="custom-amount" type="number" min="0" class="form-control" aria-label="Suma">
            </div>
        </div>
        <div class="col">
            <div class="row exact-amount-container">
                <div class="col">
                    <div class="exact-amount" data-sum="10">10 RON</div>
                </div>
                <div class="col">
                    <div class="exact-amount" data-sum="50">50 RON</div>
                </div>
                <div class="col">
                    <div class="exact-amount" data-sum="100">100 RON</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary btn-confirm-donation">DONEAZA</button>
        </div>
    </div>
    <div class="row mt-3 confirm-container"></div>
</div>